@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

$f2: "aromanus";
$c1: #ff4040;
$c2: rgb(215, 219, 187);

body {
  font-family: Inter;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  svg {
    fill: #fff;
  }
  a {
    color: #fff;
  }
}
.container {
  max-width: 1440px;
}

// --------- hypercritical ----------
.hypercritical {
  .hypercritical__inner {
    padding: 25px;
  }
  .hypercritical__img {
    width: 65vw;
    height: 500px;
    margin-bottom: 15px;
    background-color: $c2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      display: none;
    }
  }
  .hypercritical__title {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-family: $f2;
    text-align: center;
    font-size: 170px;
    line-height: 50px;
    padding-top: 50px;
    span {
      font-size: 116px;
      line-height: 137px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 325px;
      height: 325px;
      border-radius: 50%;
      border: 2px solid #000;
      right: -23%;
      top: -23%;
    }
  }
  .hypercritical__pretext {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    width: 165px;
  }
  .hypercritical__text {
    padding-top: 90px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    width: 400px;
    p {
      margin-bottom: 35px;
    }
    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
      }
    }
  }
  .hypercritical__content {
    width: 65vw;
    display: flex;
    justify-content: space-between;
  }
}

// --------- articles ----------
.articles {
  margin-top: 150px;
  width: 50%;
  .articles__list-item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    h6 {
      font-weight: 700;
      font-size: 30px;
      line-height: 38px;
      margin-right: 45px;
      position: relative;
      transition: 0.3s;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 120%;
        height: 0px;
        background-color: rgba($c1, 0.55);
        z-index: -1;
        transition: 0.3s ease;
      }
    }
    p {
      font-size: 22px;
      line-height: 27px;
      transition: 0.3s;
    }
  }
  .articles__list-item:not(:last-child) {
    margin-bottom: 25px;
  }
  .articles__list-item:hover {
    h6,
    p {
      color: $c1;
    }
    h6::before {
      height: 40%;
    }
  }
}

// --------- lovers ----------
.lovers {
  margin: 0 auto;
  width: 90%;
  margin-top: 300px;
  font-family: $f2;
  .lovers__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .lovers__pattern {
    position: absolute;
    top: 10%;
    right: 25%;
    svg {
      width: 95px;
      height: 95px;
      fill: #000;
    }
  }
  .lovers__img {
    width: 430px;
    height: 650px;
    border-radius: 250px;
    background-color: $c2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
    }
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: rgba(#000, 0.15);
      width: 5px;
      height: 50px;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .lovers__title {
    position: absolute;
    font-size: 177px;
    line-height: 123px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    z-index: 10;
  }
  .lovers__title1 {
    width: 600px;
    top: -100px;
    left: 0;
  }
  .lovers__title2 {
    width: 500px;
    text-align: right;
    color: $c1;
    bottom: 20px;
    right: 0;
  }
  .lovers__text {
    padding-top: 80px;
    font-size: 20px;
    line-height: 29px;
    color: rgba(#000, 0.6);
    text-align: center;
    margin-right: 60px;
    width: 320px;
    p:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}

// --------- lovers2 ----------
.lovers2 {
  margin-top: 200px;
  font-family: $f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 50px;
    background-color: rgba(#000, 0.15);
  }
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 5px;
    background-color: $c1;
    z-index: -1;
  }
  .lovers2__pretitle {
    font-size: 27px;
    line-height: 32px;
  }
  .lovers2__title {
    display: inline-block;
    font-size: 77px;
    line-height: 91px;
    color: $c1;
    background-color: #fff;
    padding: 0 20px;
  }
}

// --------- english ----------
.english {
  margin-top: 150px;
  position: relative;
  background-color: #1c1c1c;
  color: #fff;
  padding-top: 260px;
  padding-bottom: 50px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 30%;
    width: 1px;
    height: 100%;
    background-color: #fff;
  }
  .english__inner {
    padding-left: 50px;
  }
  .english__title {
    font-family: $f2;
    font-size: 149px;
    line-height: 176px;
    width: 440px;
    position: relative;
    margin-bottom: 70px;
    z-index: 10;
    padding-left: 25px;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-135deg);
      width: 2px;
      height: 185%;
      background-color: $c1;
      z-index: -1;
    }
  }
  .english__pretitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 1em;
    width: 260px;
  }
  .english__btn {
    position: absolute;
    right: 100px;
    top: 150px;
    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 60px;
      letter-spacing: 1em;
      text-transform: uppercase;
      color: #fff;
      width: 280px;
    }
    svg {
      fill: #fff;
      width: 30px;
      height: 30px;
    }
    &::before {
      content: "";
      position: absolute;
      top: -70px;
      left: -130px;
      width: 325px;
      height: 325px;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
  .english__list {
    position: absolute;
    right: 100px;
    bottom: 50px;
    margin-bottom: -25px;
    margin-right: -50px;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
  }
  .english__list-item {
    margin-bottom: 25px;
    margin-right: 50px;
    h6 {
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: rgba(#fff, 0.5);
      margin-bottom: 8px;
    }
    p {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

// --------- normal ----------
.normal {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #000;
  color: #fff;
  .normal__inner {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .normal__info {
    position: relative;
    padding-left: 40px;
    width: 270px;
    height: auto;
    margin-right: 120px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(#fff, 0.5);
    }
  }
  .normal__info-item {
    p {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: rgba(#fff, 0.55);
    }
    h5 {
      margin-top: 7px;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
    }
  }
  .normal__info-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .normal__content {
    &:hover {
      .normal__title {
        &::before,
        &::after {
          visibility: visible;
        }
      }
      .normal__pretitle {
        &::before,
        &::after {
          visibility: visible;
        }
      }
    }
  }
  .normal__title {
    font-weight: 500;
    font-size: 126px;
    line-height: 152px;
    position: relative;
    span {
      display: block;
      margin-left: 350px;
    }
    &::before,
    &::after {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: hidden;
      content: attr(data-text);
      position: absolute;
      background: #000;
      animation: {
        duration: 5s;
        timing-function: linear;
        iteration-count: infinite;
        direction: alternate-reverse;
      }
    }
    &::before {
      right: -5px;
      text-shadow: 1px 0 #fc03e8;
      animation-name: glitch1;
    }
    &::after {
      left: -5px;
      text-shadow: -1px 0 #00ffcc;
      animation-name: glitch2;
    }
  }
  .normal__pretitle {
    font-size: 56px;
    line-height: 70px;
    width: 400px;
    position: relative;
    &::before,
    &::after {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: hidden;
      content: attr(data-text);
      position: absolute;
      background: #000;
      animation: {
        duration: 5s;
        timing-function: linear;
        iteration-count: infinite;
        direction: alternate-reverse;
      }
    }
    &::before {
      right: -5px;
      text-shadow: 1px 0 #fc03e8;
      animation-name: glitch1;
    }
    &::after {
      left: -5px;
      text-shadow: -1px 0 #00ffcc;
      animation-name: glitch2;
    }
  }
  @keyframes glitch1 {
    $steps: 50;
    @for $i from 0 through $steps {
      #{$i / $steps * 100%} {
        clip-path: inset(random(100) * 1% 0 random(100) * 1% 0);
      }
      50% {
        transform: scaleY(1.5);
      }
    }
  }
  @keyframes glitch2 {
    $steps: 50;
    @for $i from 0 through $steps {
      #{$i / $steps * 100%} {
        clip-path: inset(random(100) * 1% 0 random(100) * 1% 0);
      }
      100% {
        transform: skewX(-30deg);
      }
    }
  }
}

// --------- alan ----------
.alan {
  margin-top: 250px;
  margin-bottom: 250px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: #f9e828;
    bottom: -10%;
    left: 0;
    z-index: -100;
  }
  .wavy-bg {
    position: absolute;
    top: 9%;
    left: 0;
    width: 100%;
    z-index: -100;
  }
  .alan__item {
    display: flex;
  }
  .alan__item:not(:last-child) {
    margin-bottom: 150px;
  }
  .alan__img {
    width: 60%;
    height: 530px;
    background-color: $c2;
    margin-right: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
    }
  }
  .alan__content {
    padding-top: 100px;
  }
  .alan__content-pattern {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-bottom: 20px;
  }
  .alan__content-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 13px;
  }
  .alan__content-text {
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
    margin-bottom: 60px;
  }
  .alan__content-list {
    display: flex;
  }
  .alan__list-item {
    h6 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 10px;
    }
    p {
      font-size: 10px;
      line-height: 12px;
      font-weight: 600;
    }
  }
  .alan__list-item:not(:last-child) {
    margin-right: 50px;
  }
  .alan__item:nth-child(2n) {
    justify-content: flex-end;
    .alan__img {
      order: 2;
      margin-right: 0;
    }
    .alan__content {
      order: 1;
      text-align: right;
      margin-right: 50px;
    }
    .alan__content-pattern {
      margin-left: auto;
    }
    .alan__content-list {
      justify-content: flex-end;
    }
  }
}

// --------- eggs ----------
.eggs {
  margin-top: 150px;
  margin-bottom: 150px;
  &__inner {
    position: relative;
  }
  .eggs__title {
    font-size: 250px;
    line-height: 250px;
    font-weight: 300;
    font-family: $f2;
    span {
      display: block;
      font-size: 150px;
      line-height: 150px;
    }
  }
  .eggs__content {
    width: 70%;
    margin-left: auto;
  }
  .eggs__list {
    padding-left: 20px;
    margin-top: 150px;
    display: flex;
  }
  .eggs__list-item {
    .number {
      font-size: 10px;
      line-height: 12px;
      font-weight: 900;
      margin-bottom: 15px;
    }
    p {
      font-size: 10px;
      line-height: 12px;
      font-weight: 600;
    }
  }
  .eggs__list-item:not(:last-child) {
    margin-right: 150px;
  }
  .eggs__btn {
    position: absolute;
    top: 5%;
    right: 20%;
    display: flex;
    align-items: center;
    svg {
      width: 50px;
      height: 50px;
      fill: #000;
      margin-top: -10px;
      margin-right: 10px;
      transform: scale(-1, -1);
    }
    p {
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
    }
  }
  .eggs__text {
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    width: 230px;
    p {
      margin-bottom: 25px;
    }
  }
  .eggs__down {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid rgba(#000, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 50px;
      height: 50px;
      transform: rotate(20deg);
      fill: #000;
      margin-top: 2px;
      margin-right: 2px;
    }
  }
}

// --------- torch ----------
.torch {
  font-family: $f2;
  text-align: center;
  margin: 250px 0;
  .torch__letter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-family: "Inter";
    font-weight: 900;
    font-size: 600px;
    line-height: 600px;
    background-image: url("../img/bg-wavy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #000;
  }
  &__inner {
    position: relative;
    margin: 0 auto;
    width: 55%;
  }
  .torch__icon {
    svg {
      width: 30px;
      height: 30px;
      fill: #000;
    }
    margin-bottom: 30px;
  }
  .torch__pretitle {
    text-transform: uppercase;
    margin-bottom: -210px;
    font-size: 35px;
    line-height: 45px;
  }
  .torch__title {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 40px;
  }
  .torch__icon2 {
    width: 70%;
    margin: 0 auto;
    fill: #000;
    position: relative;
    svg {
      width: 180px;
      height: 180px;
      transform: rotate(50deg);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30%;
      height: 1px;
      background-color: #000;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .torch__patterns {
  }
  .torch__pattern {
    position: absolute;
  }
  .torch__pattern:nth-child(1) {
    width: 55px;
    height: 55px;
    top: 0;
    left: -10%;
  }
  .torch__pattern:nth-child(2) {
    width: 55px;
    height: 55px;
    bottom: 0;
    right: -10%;
  }
}

// --------- cursor-circle ----------
.cursor-circle {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  color: #000;
  .cursor-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
  }
  .cursor-text .char {
    position: absolute !important;
  }
}

// --------- animation-text ----------
.anim-text__wpapper {
  font-family: montserrat;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #1e2134;

  line-height: 1.7;
  color: #fff;

  transform: skewY(-5deg);

  .bg-text-container {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    z-index: -999;
  }

  @keyframes text-scrolling {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0%, 0, 0);
    }
  }

  .animate-text {
    animation: text-scrolling 20s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
    text-shadow: 10px 100px 0 rgba(255, 255, 255, 0.1);

    &.left {
      animation-direction: reverse;
    }
  }

  span {
    font-size: 280px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-transform: uppercase;
    display: inline-block;
    line-height: 0.75;
    min-width: auto;
    font-weight: 800;
  }
}

// --------- wavy-text ----------
.wavy-text {
  margin-top: 150px;
  margin-bottom: 150px;
  position: relative;
  margin-left: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  p {
    text-transform: uppercase;
    font-size: 45px;
    line-height: 55px;
    font-weight: 900;
  }
  svg {
    position: absolute;
    bottom: -200px;
    left: -100%;
    // width: 100%;
    width: 400px;
    height: 400px;
    fill: #f9e828;
    animation: wavy-svg 5.2s infinite;
    @keyframes wavy-svg {
      0% {
        left: -100%;
      }
      100% {
        left: -60px;
      }
    }
  }
}

// --------- text-overflow ----------
.text-overflow {
  margin-left: 50px;
  margin-bottom: 150px;
  font-size: 56px;
  line-height: 64px;
  font-weight: 900;
  .wordContainer {
    overflow: hidden;
  }
  span {
    display: block;
    animation: up 1s forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(160%);
    animation-delay: 1.3s;
  }
  .wordContainer:nth-child(2) span {
    animation-delay: 1.6s;
  }
  .wordContainer:nth-child(3) span {
    animation-delay: 1.9s;
  }
  @keyframes up {
    100% {
      transform: translateY(0%);
    }
  }
}

// --------- slice ----------
#slice {
  width: 800px;
  height: 500px;
  position: relative;
  img {
    width: 100%;
    height: auto;
    opacity: 0;
  }
  div {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    transform: rotateY(-50deg) scale(0.5);
    transition: 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform-origin: bottom;
    opacity: 0;
  }
  &.active div {
    opacity: 1;
    transform: rotateY(0deg) translateY(0);
    transition-delay: 0.5s;
  }
}

// --------- soul ----------
.soul {
  margin-bottom: 350px;
  img {
    object-fit: cover;
  }
  .soul__inner {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 100px;
  }
  .soul__images1 {
    position: absolute;
    left: 60px;
    top: 0;
    display: flex;
    .soul__img1 {
      width: 170px;
      height: 200px;
      margin-top: 200px;
      margin-right: 40px;
    }
    .soul__img2 {
      width: 255px;
      height: 320px;
    }
  }
  .soul__content {
    position: relative;
    z-index: 10;
    margin-right: -150px;
  }
  .soul__title {
    font-family: $f2;
    font-size: 130px;
    line-height: 153px;
    white-space: nowrap;
  }
  .soul__pretitle {
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: rgba(#000, 0.75);
    margin-bottom: 40px;
  }
  .soul__line {
    width: 100px;
    height: 3px;
    background-color: rgba(#000, 0.1);
    margin-bottom: 40px;
    border: none;
  }
  .soul__text {
    width: 250px;
    font-size: 12px;
    line-height: 22px;
    color: rgba(#000, 0.75);
    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .soul__images2 {
    width: 380px;
    position: absolute;
    right: 150px;
    top: 0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    .soul__img1 {
      width: 175px;
      height: 240px;
      margin-right: 40px;
    }
    .soul__img2 {
      width: 130px;
      height: 130px;
    }
    .soul__img3 {
      width: 340px;
      height: 170px;
      margin-left: 50px;
      margin-top: 40px;
    }
  }
}

// --------- think ----------
.think {
  margin-bottom: 150px;
  .think__inner {
  }
  .think__item {
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
  }
  .think__item:hover {
    .think__title {
      -webkit-text-stroke: 1px #000;
      color: transparent;
    }
    .think__images {
      transform: translate(-50%, -50%) scale(1);
      background-color: #000;
    }
  }
  .think__item1 {
    margin-bottom: 200px;
    img {
      // opacity: 1;
    }
  }
  .think__item2 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    right: 0;
  }
  .think__title {
    font-weight: 600;
    font-size: 150px;
    line-height: 122px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px transparent;
    transition: 0.5s ease-in-out;
  }
  .think__pretitle {
    font-weight: 300;
    font-size: 35px;
    line-height: 42px;
    span {
      font-weight: 500;
      font-style: italic;
    }
  }
  .think__images {
    width: 665px;
    height: 655px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s ease-in-out;
      // opacity: 0;
    }
  }
  .think__img1 {
    z-index: 2;
  }
  .think__img2 {
    z-index: 1;
  }
}

// --------- discord ----------
.discord {
  font-family: $f2;
  margin: 0 20px;
  margin-bottom: 150px;
  overflow: hidden;
  .discord__inner {
    padding: 100px;
  }
  .discord__text {
    width: 470px;
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 44px;
  }
  .discord__btn {
    padding: 17px 22px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
  }
  .net {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 180%;
    height: 120%;
    fill: rgba(#000, 0.1);
    z-index: -1;
  }
}

// --------- footer1 ----------
.footer1 {
  margin-bottom: 350px;
  .footer1__inner {
    padding: 30px 60px;
  }
  .footer1__up,
  .footer1__down {
    display: flex;
    justify-content: space-between;
  }
  .footer1__up {
    margin-bottom: 270px;
    align-items: start;
  }
  .footer1__down {
    width: 85%;
    align-items: center;
  }
  .footer1__lists {
    display: flex;
  }
  .footer1__item:not(:last-child) {
    margin-right: 170px;
  }
  .footer1__list-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }
  .footer1__list-item {
    font-size: 14px;
    line-height: 17px;
    a {
      color: rgba(#fff, 0.5);
      transition: 0.3s;
    }
  }
  .footer1__list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer1__btn {
    font-family: $f2;
    font-size: 14px;
    line-height: 16px;
    padding: 16px 22px;
    border-radius: 3px;
    background-color: #1c1c1c;
    color: #fff;
  }
  .footer1__btn1 {
    opacity: 0.6;
  }
  .footer1__down-box {
    display: flex;
    align-items: center;
  }
  .footer1__logo {
    width: 54px;
    height: 54px;
    margin-right: 210px;
    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }
  .footer1__text {
    width: 300px;
    font-size: 14px;
    line-height: 17px;
    color: rgba(#fff, 0.5);
  }
}

// --------- footer2 ----------
.footer2 {
  margin-bottom: 250px;
  overflow: hidden;
  &::before {
    content: "G*";
    position: absolute;
    left: 0%;
    top: -15%;
    font-family: $f2;
    font-size: 1436px;
    line-height: 1436px;
    letter-spacing: -0.16em;
    z-index: -1;
    opacity: 0.1;
  }
  .footer2__inner {
    padding: 30px 60px;
  }
  .footer2__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
  }
  .footer2__title {
    font-family: $f2;
    font-size: 39px;
    line-height: 46px;
    text-transform: capitalize;
    margin-bottom: 60px;
  }
  .footer2__item-lists {
    display: flex;
  }
  .footer2__list {
  }
  .footer2__list:not(:last-child) {
    margin-right: 300px;
  }
  .footer2__list-item {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    a {
      color: #fff;
    }
  }
  .footer2__list-item:not(:last-child) {
    margin-bottom: 25px;
  }
  .footer2__soclist {
  }
  .footer2__soclist-item {
    display: flex;
    align-items: center;
    svg {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
    p {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 22px;
    }
  }
  .footer2__copy {
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    color: rgba(#fff, 0.7);
  }
  .footer2__soclist-item:not(:last-child) {
    margin-bottom: 25px;
  }
}

// --------- team ----------
.team {
  margin-bottom: 200px;
  .team__inner {
    display: flex;
    align-items: center;
  }
  .team__content {
    width: 40%;
    margin-right: 100px;
  }
  .team__content-title {
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 60px;
  }
  .team__content-text {
    font-size: 24px;
    line-height: 34px;
    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .team__images {
    position: relative;
  }
  .team__images-title {
    position: absolute;
    top: 175px;
    left: -195px;
    font-family: $f2;
    text-transform: uppercase;
    font-size: 180px;
    line-height: 220px;
    letter-spacing: -0.05em;
    white-space: nowrap;
    transform: rotate(-90deg);
  }
  .team__img {
    width: 440px;
    height: 440px;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .team__img:nth-child(2) {
    position: absolute;
    top: -190px;
    left: 100px;
  }
  .team__img:nth-child(3) {
    position: absolute;
    top: 40px;
    left: 200px;
  }
}

// --------- meridia ----------
.meridia {
  margin-top: 150px;
  margin-bottom: 250px;
  .meridia__back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 230px;
    line-height: 278px;
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px rgba(#fff, 0.2);
  }
  .meridia__inner {
    display: flex;
  }
  .meridia__title {
    font-weight: 100;
    font-size: 70px;
    line-height: 85px;
    width: 60%;
    margin-right: 150px;
  }
  .meridia__content {
    width: 40%;
  }
  .meridia__img {
    width: 264px;
    height: 264px;
    margin-bottom: 40px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .meridia__text {
    text-indent: 125px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
}

// --------- push ----------
.push {
  padding-top: 150px;
  margin: 0 50px;
  margin-top: 150px;
  margin-bottom: 250px;
  .push__inner {
  }
  .push__title {
    width: 70%;
    font-family: $f2;
    font-size: 150px;
    line-height: 137px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    span {
      margin-top: 20px;
      font-size: 70px;
      line-height: 82px;
    }
    .push__title-h1:last-child {
      margin-left: 290px;
    }
  }
  .push__text {
    width: 250px;
    font-size: 12px;
    line-height: 22px;
    color: rgba(#fff, 0.75);
    p:not(:last-child) {
      margin-bottom: 15px;
    }
    position: relative;
    padding-top: 50px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 85px;
      height: 3px;
      background-color: rgba(#fff, 0.2);
    }
  }
  .push__btn {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    p {
      margin-right: 25px;
      color: rgba(#fff, 0.8);
    }
    svg {
      margin-top: -10px;
      width: 50px;
      height: auto;
      fill: #fff;
      transform: scale(-1, -1);
    }
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 122px;
      height: 122px;
      border-radius: 50%;
      border: 1px solid rgba(#fff, 0.3);
      z-index: -2;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #000;
      z-index: -1;
      width: 100%;
      height: 35px;
    }
  }
  .push__down {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
  }
  .push__down-text {
    color: rgba(#fff, 0.8);
  }
  .push__down-btn {
    display: flex;
    align-items: start;
    justify-content: space-between;
    p {
      color: rgba(#fff, 0.8);
    }
    svg {
      margin-top: -32px;
      margin-left: -8px;
      width: 70px;
      height: auto;
      margin-right: 20px;
      fill: #fff;
      transform: scale(-1, -1);
    }
  }
}

// --------- audrey ----------
.audrey {
  margin-top: 150px;
  margin-bottom: 250px;
  .audrey__inner {
    padding: 25px;
  }
  .audrey__title {
    white-space: nowrap;
    font-family: $f2;
    font-size: 240px;
    line-height: 170px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
  }
  .audrey__img {
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .audrey__content {
    display: flex;
    justify-content: space-between;
  }
  .audrey__soclist {
    display: flex;
    align-items: start;
    margin-right: 100px;
  }
  .audrey__soclist-item {
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }
  .audrey__soclist-item:not(:last-child) {
    margin-right: 12px;
  }
  .audrey__content-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .audrey__content-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: rgba(#fff, 0.5);
  }
  .audrey__list {
    width: 250px;
  }
  .audrey__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .audrey__list-title {
  }
  .audrey__list-text {
  }
  .audrey__info {
    width: 320px;
  }
  .audrey__info-title {
  }
  .audrey__info-text {
  }
}

// --------- audreySlider ----------
.audreySlider {
  margin-bottom: 250px;
  .audreySlider__inner {
    display: flex;
    justify-content: space-between;
  }
  .audreySlider__content {
    margin-right: 180px;
  }
  .audreySlider__line {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .audreySlider__number {
    font-weight: 900;
    font-size: 159px;
    line-height: 192px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .audreySlider__info {
    width: 80%;
  }
  .audreySlider__info-item {
    font-size: 16px;
    line-height: 19px;
  }
  .audreySlider__info-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .audreySlider__info-title {
    margin-bottom: 10px;
  }
  .audreySlider__info-text {
    color: rgba(#fff, 0.5);
  }
  .audreySlider__pagination {
    display: flex;
    align-items: flex-end;
  }
  .audreySlider__pagination-item {
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }
  .audreySlider__pagination-item:not(:last-child) {
    margin-right: 40px;
  }
  .audreySlider__slider {
    display: flex;
    margin-right: -150px;
    position: relative;
  }
  .audreySlider__title {
    position: absolute;
    left: -50px;
    top: -50px;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #c4c4c4;
    color: #7b6b6b;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-23deg);
  }
  .audreySlider__slider-item {
    width: 385px;
    height: 485px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .audreySlider__slider-item:not(:last-child) {
    margin-right: 40px;
  }
}

// --------- reality ----------
.reality {
  margin-bottom: 250px;
  .reality__inner {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .reality__content-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .reality__content {
    width: 100%;
    position: relative;
  }
  .reality__title {
    z-index: 10;
    position: absolute;
    font-family: $f2;
    font-weight: 400;
    font-size: 140px;
    line-height: 120px;
    span {
      font-size: 79px;
      line-height: 80px;
      display: block;
    }
  }
  .reality__title1 {
    left: 0;
    top: 0;
    span {
      margin-left: 30px;
    }
  }
  .reality__title2 {
    right: 0;
    bottom: 0;
  }
  .reality__images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 445px;
    height: 445px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  .reality__img-wrapper {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .reality__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .reality__pretitle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    text-align: center;
  }
  .reality__btn {
    position: absolute;
    left: 0;
    bottom: 15%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    transform: rotate(-90deg);
    p {
      color: rgba(#fff, 0.8);
    }
    svg {
      width: 50px;
      height: auto;
      fill: #fff;
      margin-right: 20px;
      margin-bottom: -17px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 122px;
      height: 122px;
      border-radius: 50%;
      border: 1px solid rgba(#fff, 0.3);
      z-index: -2;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #000;
      z-index: -1;
      width: 100%;
      height: 35px;
    }
  }
}

// --------- menu ----------
.menu {
  margin-bottom: 250px;
  .menu__inner {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
      "box-1 box-2 box-5"
      "box-3 box-4 box-5";
    grid-template-columns: 300px 400px auto;
    grid-template-rows: 470px auto;
  }
  .menu__btn {
    position: absolute;
    right: 15px;
    top: 15px;
    span {
    }
  }
  .menu__gameplay {
    grid-area: box-1;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      text-align: center;
      text-transform: uppercase;
      color: rgba(#fff, 0.65);
      font-weight: 500;
      font-size: 16px;
      line-height: 34px;
      position: relative;
      padding-bottom: 5px;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 20%;
        height: 1px;
        background-color: rgba(#fff, 0.1);
      }
    }
  }
  .menu__location {
    position: relative;
    grid-area: box-2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(#b93948, 0.6);
      z-index: 0;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-transform: lowercase;
      text-align: center;
      position: relative;
      z-index: 10;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 95%;
        height: 2px;
        background-color: #fff;
      }
    }
  }
  .menu__learn {
    position: relative;
    grid-area: box-3;
    display: flex;
    align-items: center;
    padding: 0 65px 0 15px;
    background-color: rgb(17, 19, 21);
    p {
      font-weight: 400;
      font-size: 23px;
      line-height: 28px;
      color: rgba(#fff, 0.9);
    }
    .menu__learn-btn {
      position: absolute;
      left: 15px;
      bottom: 35px;
      width: 30px;
      height: 30px;
      svg {
        width: 100%;
        height: 100%;
        fill: #fff;
      }
    }
    .menu__hidden-text {
      transform: none;
      transform-origin: none;
      left: 15px;
      top: 35px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
    }
  }
  .menu__bail {
    grid-area: box-4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $f2;
    font-size: 31px;
    line-height: 37px;
    text-align: center;
    padding: 0 95px;
    color: rgba(#fff, 0.2);
  }
  .menu__list {
    grid-area: box-5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .menu__list-item {
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    text-transform: lowercase;
    position: relative;
    .num {
      font-size: 20px;
      line-height: 24px;
      position: absolute;
      left: -20px;
      top: 0;
      color: rgba(#fff, 0.1);
    }
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 45px;
  }
  .menu__hidden-text {
    position: absolute;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: lowercase;
    color: #fff;
    opacity: 0.1;
    padding-left: 55+12px;
    transform: rotate(-90deg);
    transform-origin: 100px 100px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      width: 55px;
      background-color: #fff;
    }
  }
  .menu__hidden-text1 {
    left: 15px;
    top: 0;
  }
  .menu__hidden-text2 {
    transform: rotate(90deg);
    transform-origin: right bottom;
    right: 0px;
    bottom: 20px;
  }
}

// --------- dance ----------
.dance {
  display: grid;
  grid-template-areas:
    "box-1 box-2 box-5"
    "box-3 box-4 box-5";
  grid-template-columns: 300px 400px auto;
  grid-template-rows: 470px auto;
  margin-bottom: 250px;
  .dance__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dance__item {
    cursor: pointer;
    position: relative;
  }
  .dance__item:hover {
    .dance__item-title1 {
      opacity: 0;
    }
    .dance__item-title2 {
      opacity: 1;
    }
    .dance__item-list {
      opacity: 1;
    }
  }
  .dance__item-title {
    font-weight: 500;
    font-size: 230px;
    line-height: 278px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
    span {
      color: transparent;
      -webkit-text-stroke: 1px #b93948;
    }
  }
  .dance__item-title2 {
    color: #b93948;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  .dance__item-list {
    will-change: transform;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s ease-in-out;
    animation: text-scrolling 7s linear infinite;
    li {
      font-size: 48px;
      line-height: 58px;
      text-transform: uppercase;
      position: relative;
      padding-left: 65px;
      padding-right: 65px;
      text-align: center;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}
